[class*="col-"]{
  background-color: lightpink;
  border: 1px solid black; 
  height: 191px;
   line-height: 191px;
   text-align: center;
   padding: 5px;

}





.container>.col-6>.container [class*="col-"]{
  height: 180px;
  
  background-color: #F08080;
  border: 1px solid white;
  /* border-bottom: 1px solid black; */
  width: cal(50% / 3 - 2px -2px );
  
}